---
import website from '../assets/website.jpg'
import nextfile from '../assets/nextfile.jpg'
import bookSarbinowo from '../assets/book-sarbinowo.png'
import sdw from '../assets/sdw.png'
import tsTypedfiles from '../assets/ts-typedfiles.jpg'
import ProjectCard from './ProjectCard.astro'
---

<div
  class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
>
  <ProjectCard
    title="Personal website"
    description="Portfolio website made with Astro and TailwindCSS"
    image={{ ...website, alt: 'Personal website' }}
    href="https://github.com/Maxtremee/Maxtremee"
  />
  <ProjectCard
  title="SDW"
  description="Inventory management system with separate frontends for employees and distributors. Made with Next.js, tRPC and Prisma (closed source)"
  image={{ ...sdw, alt: 'sdw app' }}
/>
  <ProjectCard
    title="ts-typedfiles"
    description="TypeScript library for generating string literal type of file paths"
    image={{ ...tsTypedfiles, alt: 'ts-typedfiles repo' }}
    href="https://www.npmjs.com/package/ts-typedfiles"
  />
  <ProjectCard
    title="Nextfile"
    description="HTTP file directory made with Next.js and MUI"
    image={{ ...nextfile, alt: 'Netxfile app' }}
    href="https://github.com/Maxtremee/Nextfile"
  />
  <ProjectCard
    title="book-sarbinowo"
    description="Apartment reservation app made with Remix, Mantine and Prisma"
    image={{ ...bookSarbinowo, alt: 'book-sarbinowo app' }}
    href="https://github.com/Maxtremee/book-sarbinowo"
  />
</div>
