---
import '@fontsource/inter'
import '@fontsource/jetbrains-mono'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Maksymilian Zadka's personal website" />
	</head>
	<body class="flex justify-center bg-white dark:bg-black">
		<div class="max-w-7xl"><slot /></div>
	</body>

	<style is:global>
		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
				Bitstream Vera Sans Mono, Courier New, monospace;
		}
	</style>
</html>
