#projects {
  width: 66%;
  margin: 1em;
}

#project-wrapper {
  position: relative;
  aspect-ratio: 4 / 3;
  width: 100%;
}

#project-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation-name: bg-scale;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

#project-desc {
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: scale(1.5);
}

.arrow:hover {
  cursor: pointer;
}

#arrow-left {
  left: 2%;
}

#arrow-right {
  right: 2%;
}

@keyframes bg-scale {
  0% {
    background-size: 100%;
    opacity: 0;
  }

  15% {
    opacity: 0.4;
  }

  85% {
    opacity: 0.4;
  }

  100% {
    background-size: 150%;
    opacity: 0;
  }
}