:root {
  --bg-gradient: linear-gradient(90deg, rgb(238, 99, 82), rgb(128, 0, 128), rgb(238, 101, 83));
}

@media only screen and (max-width: 800px) {
  #container {
    display: block;
  }
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  background-image: var(--bg-gradient);
  background-size: 300%;
  animation: gradient 20s infinite;
  color: whitesmoke;
}

main {
  padding: 1em;
  width: 75vw;
  border-radius: 15px;
  background-color: rgb(30, 30, 30);
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: large;
}

footer {
  color: gray;
  text-align: center;
  font-size: small;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  align-items: flex-start;
}

@keyframes gradient {
  0% {
    background-position: left
  }

  50% {
    background-position: right
  }

  100% {
    background-position: left
  }
}

